@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #323068;
  --seconds: #3895ea;
  --third: #eaabd7;
  --gray: #5a5a5a;
}

/*-------Cabecera--------------------------------------Cabecera------------------------------------------------Cabecera-------*/
.image-container img {
  width: 100%;
  height: 500px;
}

.nav-bar {
  width: 100%;
  position: fixed;
}

.menu {
  width: 100%;
  height: auto;
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0));
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.01);
}

.lista-menu {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-wrap: wrap;
}

.nav-menu-item {
  margin: 10px;
  list-style: none;
  cursor: pointer;
  transition:
  scale 0.25s ease-in,
  opacity 0.25s ease-in,
  filter 0.25 ease-in;

  &:hover{ 
    scale: 1.2;
  }
}

.lista-menu:has(.nav-menu-item:hover) .nav-menu-item:not(:hover){
  scale: 0.8;
  opacity: 0.3;
  filter:blur(4px);
}


.nav-menu-item a {
  padding:10px 20px;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--third);
  background: black;
  border-radius: 2em 0;

}

.descripcion .nombre-profecion {
  width: 50%;
  max-width: 600px; 
  height: auto;
  padding: 20px;
  top: 15%;
  position: absolute;
  left: 33%;
  right: 20%;
  color: var(--primary);
  text-align: center;
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 3),
      rgba(255, 255, 255, 0));
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
  border-radius: 5%;
  align-items: center;
 
}

.detalle h1{
  margin-top:25px ;
}

.nombre-profecion h1 {
  font-size: 3em;
  margin-top: 10px;
}

.nombre-profecion p {
  font-size: 2em;
  margin:10px;
}

.retrato img {
  position: absolute;
  max-width: 250px;
  top: 55%;
  left: 49%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  border: solid white 5px;
}

/* Media queries para diseño responsivo */

@media (max-width: 1200px) {
  .nav-menu-item a {
    font-size: 1.2em;
    padding: 8px 16px;
  }

  .nombre-profecion h1 {
    font-size: 1em;
  }

  .nombre-profecion p {
    font-size: 0.8em;
  }
}

@media (max-width: 768px) {
  .logo img {
    width: 8%;
  }

  .descripcion .nombre-profecion {
    width: 70%;
    left: 15%;
  }

  .nav-menu-item a {
    font-size: 2em;
    padding: 6px 12px;
  }

  .nombre-profecion h1 {
    font-size: 1.5em;
  }

  .nombre-profecion p {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  .logo img {
    width: 15%;
  }

  .descripcion .nombre-profecion {
    width: 90%;
    left: 5%;
  }

  .nav-menu-item a {
    font-size: 0.8em;
    padding: 4px 8px;
  }

  .nombre-profecion h1 {
    font-size: 3em;
  }

  .nombre-profecion p {
    font-size: 1em;
  }

  .retrato img {
    width: 20%;
  }
}

/*-------MAIN--------------------------------------MAIN------------------------------------------------MAIN-------*/
main {
  font-family: "Open Sans", sans-serif, Helvetica;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("./imagenes/acuarela") center/cover no-repeat fixed;
  background-color: rgba(0, 0, 0, 0.5);
}

/* -------------Configura el desplazamiento suave en todo el documento -------------------------------------------------*/
html {
  scroll-behavior: smooth;
}

/* -------------Para el rediccionamiento del Nav -------------------------------------------------*/

section[id] {
  scroll-margin-top: 50px;
}

/*--------MAIN-PRESENTACION--------------------------------------MAIN------------------------------------------------MAIN-------*/
.presentacion{
  width: 50%;
  margin-top: 100px;
  text-align: center;
  font-weight:bold;
  font-style: italic;
}

.detalle h1{
  color: var(--primary);
  font-size: 30px;
  margin-bottom: 2%;
}

.parrafo p{
  font-size: 20px;
}

/*-------PROYECTO--------------------------------------PROYECTO------------------------------------------------PROYECTO-------*/

.proyectos{
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 100px;
  text-align: center;
  background: #3895ea;
}

.titulo {
  position: relative;
  left: 100px;
  font-size: 50px;
  color: var(--primary);
  height: 90vh;
  align-items: center;
  text-align: center;
}

.lista-proyectos {
  position: relative;
  width: 250px;
  height: 250px;
  transform-style: preserve-3d;
  animation: animate 40s linear infinite;
}

@keyframes animate {
  0% {
      transform: perspective(1000px) rotateY(0deg);
  }
  100% {
      transform: perspective(1000px) rotateY(360deg);
  }
}

.proyecto{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
}

.proyecto img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid white;
  border-radius: 18px;
  height: 100%;
  object-fit: cover;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
}

.proyecto:nth-child(1) img { --i: 0; }
.proyecto:nth-child(2) img { --i: 1; }
.proyecto:nth-child(3) img { --i: 2; }
.proyecto:nth-child(4) img { --i: 3; }
.proyecto:nth-child(5) img { --i: 4; }
.proyecto:nth-child(6) img { --i: 5; }
.proyecto:nth-child(7) img { --i: 6; }
.proyecto:nth-child(8) img { --i: 7; }


/*------------------------ HABILIDADES Técnicas-------------------------------------------------*/
.habilidades{
  width: 60%;
  margin-top: 10ox;
  text-align: center;
  border-radius: 10px;
}

.titulo-tecnico{
  font-size: 50px;
  color: var(--primary);
  text-align: center;
  margin-top: 10px;

}

.especializacion{
  width: 100%;
  height: auto;
  margin: 10px auto 30px  ato;
  background: rgba(255, 255, 255, 0.3);

}
.subtitulo-tecnico, .subtitulo-tecnico-UI, .subtitulo-tecnico-BD{
text-align: left;
margin: 10px 0 10px 30px;
font-size: 35px;
}

.lista-habilidades-tecnicas {
  display: flex;
  justify-content: space-around; 
  list-style: none; 
  overflow: hidden;
}

.lista-habilidades-tecnicas ul{
  margin: 10px auto 50px  ato;

}

.item-tecnico {
 /* animation: scroll 40s linear infinite;*/
  display: flex;
  align-items: center;
}

.item-tecnico p {
  margin-top: 5px;
  font-size: 1.5em; 
  text-align: center;
  padding: 5px;
}
 
.lista-habilidades-tecnicas .item-tecnico img{
  width: 3.5em;
  height: auto;
  margin: 5px 10px;
}


/*-------------HABILIDADES BLANDAS--------------*/
.habilidades-blandas {
  width: 100%;
  height: auto;
  margin: auto;


}

.lista-habilidades-blandas {
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 25px;
  list-style: none;
  border-radius:10px;
  background: rgba(255, 255, 255, 0.3);
}

.descripcion-habilidades-blandas{
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.lista-habilidades-blandas{
  width: calc(200px * 10);
 
}

.lista-habilidades-blandas .item-habilidades-blandas{
  animation: scroll 40s linear infinite;
  margin: 25px 10px;
}

.item-habilidades-blandas::before {
  content: "🤝";
}

.item-tecnico img {
  width: 150px;
  height: auto;
}

@keyframes scroll {
  0% {
      --webkit-transform: translateX(0);
       transform: translateX(0);
  }
  100% {
    --webkit-transform: translateX(calc(-200px * 10));
     transform: translateX(calc(-200px * 5));
}
}

/*-------EDUCACION--------------------------------------EDUCACION------------------------------------------------EDUCACION-------*/
.educacion {
  width: 53%;
  height: 600px;
  /* Establecido un alto fijo de 600px */
  margin: 30px;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  view-timeline-name: --animacion;
  view-timeline-axis: block;
  animation-timeline: --animacion;
  animation-name: show;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}

.titulo-educacion {
  font-size: 50px;
  color: var(--primary);
  text-align: center;
  margin-top: 10px;
}

.detalle-educacion,
.certificados {
  width: 100%;
  padding: 1%;
  font-size: 24px;
  text-align: center;
  border: var(--primary);
  border-radius: 10px;
  margin-bottom: 1%;
}

.contenedor-de-educacion {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-sizing: border-box;
}

/*-------FORMULARIO--------------------------------------FORMULARIO------------------------------------------------FORMULARIO-------*/
.formulario {
  width: 100%;
  margin: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: none;
  animation-range: entry 25% cover 50%;
  /*la imagen comiensa con 25% y termina 50%*/
  animation-fill-mode: both;
  /*Funciona en ambos sentido (de arriba a bajo y de abajo para arriba)*/
}

.titulo-form {
  font-size: 30px;
  color: var(--primary);
  text-align: center;
}

form {
  width: 50%;
  /* Reducir el ancho del formulario para mejorar la legibilidad */
  padding: 20px;
  /* Aumentar el espacio interno para mejorar la presentación */
  border-radius: 5px;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  view-timeline-name: --animacion;
  /*Nombre de la animacion*/
  view-timeline-axis: block;
  /*Elegimos el eje*/
  animation-timeline: --animacion;
  animation-name: show;
  animation-range: entry 25% cover 50%;
  /*la imagen comiensa con 25% y termina 50%*/
  animation-fill-mode: both;
  /*Funciona en ambos sentido (de arriba a bajo y de abajo para arriba)*/
}

#planilla input[type="text"],
#planilla input[type="tel"],
#planilla input[type="email"],
#planilla textarea {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  /* Modificado para ocupar el 100% del ancho del contenedor */
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 10px;
}

#planilla input[type="text"] {
  height: 50px;
}

#planilla input::placeholder,
#planilla textarea::placeholder {
  font-size: 18px;
  margin-left: 10%;
  color: #c5c5c5;
}

.enviar {
  width: 250%;
  padding: 15px 0;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: var(--seconds);
  border: none;
  border-radius: 5px;
  transition: background 0.3s, transform 0.3s;
  cursor: pointer;
}

.enviar:hover {
  background: var(--third);
  transform: scale(1.05);
}

.informacion {
  width: 100%;
  background: var(--primary);
  text-align: center;
}

/*-------FOOTER--------------------------------------FOOTER------------------------------------------------FOOTER-------*/
footer {
  background: linear-gradient(to bottom, var(--seconds), var(--primary));
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.01);
}

.redes-sociales {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.redes-sociales li {
  list-style: none;
  width: 7%;
  margin: auto 25px;
  border-radius: 5px;
}

.copy-autor,
.copy-imagenes {
  text-decoration: none;
  color: #f2f2f2;
  font-size: 25px;
  text-align: center;
}

.copy-autor {
  padding-bottom: 2, 5%;
}

.figma {
  text-decoration: none;
  color: #f2f2f2;
}