@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #323068;
  --seconds: #3895ea;
  --third: #eaabd7;
  --gray: #5a5a5a;
}

/*-------Cabecera--------------------------------------Cabecera------------------------------------------------Cabecera-------*/
.image-container img {
  width: 100%;
  height: 500px;
}

.nav-bar {
  width: 100%;
}

.logo img {
  width: 3%;
  border-radius: 100%;
  position: absolute;
  top: 1%;
  left: 1%;
}

.menu {
  width: 100%;
  height: auto;
  position: absolute;
  align-items: center;
  top: 0;
  left: o;
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0));
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.01);
}

.lista-menu {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.nav-menu-item {
  margin: 15px;
  list-style: none;
  cursor: pointer;
  transition:
  scale 0.25s ease-in,
  opacity 0.25s ease-in,
  filter 0.25 ease-in;

  &:hover{ 
    scale: 1.2;
  }
}

.lista-menu:has(.nav-menu-item:hover) .nav-menu-item:not(:hover){
  scale: 0.8;
  opacity: 0.8;
  filter:blur(4px);
}


.nav-menu-item a {
  padding:5px 15px;
  text-decoration: none;
  font-size: 30px;
  color: var(--third);
  background: black;
  border-radius: 15%;
}

.descripcion .nombre-profecion {
  width: 35%;
  height: 20%;
  top: 15%;
  position: absolute;
  left: 33%;
  color: var(--primary);
  text-align: center;
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 3),
      rgba(255, 255, 255, 0));
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
  border-radius: 5%;
  align-items: center;
}

.nombre-profecion h1 {
  font-size: 300%;
  margin-top: 2%;
}

.nombre-profecion p {
  font-size: 220%;
  margin: 5%;
}

.retrato img {
  position: absolute;
  width: 10%;
  top: 45%;
  left: 45%;
  border-radius: 100%;
  border: solid white;
}

/*-------MAIN--------------------------------------MAIN------------------------------------------------MAIN-------*/
main {
  font-family: "Open Sans", sans-serif, Helvetica;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("./imagenes/acuarela") center/cover no-repeat fixed;
  background-color: rgba(0, 0, 0, 0.5);
}

/* -------------Configura el desplazamiento suave en todo el documento -------------------------------------------------*/
html {
  scroll-behavior: smooth;
}

/* -------------Para el rediccionamiento del Nav -------------------------------------------------*/

section[id] {
  scroll-margin-top: 50px;
}

/*--------MAIN-PRESENTACION--------------------------------------MAIN------------------------------------------------MAIN-------*/
.presentacion{
  width: 50%;
  margin-top: 100px;
  text-align: center;
  font-weight:bold;
  font-style: italic;
}

.detalle h1{
  color: var(--primary);
  font-size: 35px;
  margin-bottom: 2%;
}

.parrafo p{
  font-size: 20px;
  
}

/*-------PROYECTO--------------------------------------PROYECTO------------------------------------------------PROYECTO-------*/

.proyectos {
  height: auto;
  margin: 20px;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  /* Cambiado a un color s칩lido con transparencia */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.01);
  display: flex;
  flex-direction: column;
  /* Establece el eje principal como columna */
  align-items: center;
  view-timeline-name: --animacion;
  /*Nombre de la animacion*/
  view-timeline-axis: block;
  /*Elegimos el eje*/
  animation-timeline: --animacion;
  animation-name: show;
  animation-range: entry 25% cover 50%;
  /*la imagen comiensa con 25% y termina 50%*/
  animation-fill-mode: both;
  /*Funciona en ambos sentido (de arriba a bajo y de abajo para arriba)*/
}

.titulo {
  margin-bottom: 5px;
  /* Ajusta el espacio entre el t칤tulo y la lista */
  font-size: 30px;
  color: var(--primary);
  height: 70%;
}

.proyecto h2 {
  margin-top: 30%;
}

.proyectos-enumerados {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.proyecto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.proyecto img {
  border: 2px solid #f2f2f2;
  border-radius: 5px;
  opacity: 0.5;
  transition: border 0.3s, opacity 0.3s;
  width: 235px;
  margin-bottom: 10px;
}

.proyecto p {
  margin-top: 5px;
}

.proyecto img:hover {
  border: 2px double var(--gray);
  opacity: 1;
}

/*------------------------ HABILIDADES TEcnicas-------------------------------------------------*/
.habilidades {
  width: 53%;
  background: rgba(255, 255, 255, 0.5);
  /* Cambiado a un color s칩lido con transparencia */
  text-align: center;
  padding: 6px;
  view-timeline-name: --animacion;
  /*Nombre de la animacion*/
  view-timeline-axis: block;
  /*Elegimos el eje*/
  animation-timeline: --animacion;
  animation-name: show;
  animation-range: entry 25% cover 50%;
  /*la imagen comiensa con 25% y termina 50%*/
  animation-fill-mode: both;
  /*Funciona en ambos sentido (de arriba a bajo y de abajo para arriba)*/
}

.habilidades h2 {
  margin-top: 6%;
  margin-bottom: 10px;
}

.titulo-tecnico {
  margin-bottom: 5px;
  color: var(--primary);
}

.certificados-tecnicos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* O utiliza "space-between" seg칰n tus preferencias */
}

.especializacion {
  border-radius: 5px;
  margin: 10px;
  /* Ajusta seg칰n tus preferencias de margen */
  padding: 6px;
  text-align: center;
  width: 30%;
  /* Ajusta seg칰n tus preferencias de ancho */
}

.subtitulo-tecnico {
  font-size: 25px;
}

.especializacion:hover {
  border: 8px solid var(--primary);
  background: var(--seconds);
  border-radius: 5px;
}

.lista-habilidades-tecnicas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* Puedes ajustar esto seg칰n tus preferencias */
  padding: 0;
  list-style: none;
}

.item-tecnico {
  flex: 0 0 48%;
  /* Puedes ajustar el tama침o seg칰n tus preferencias */
  margin-bottom: 10px;
  text-align: center;
  margin-top: 30px;
  overflow: visible;
}

.certificados-tecnicos .item-tecnico img {
  max-width: 100px;
  max-height: 100px;
  flex: 0 0 auto;
  margin: 0 10px;
}

/*-------------HABILIDADES BLANDAS--------------*/
.habilidades-blandas {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 6px;
}

.lista-habilidades-blandas {
  justify-content: center;
  align-items: center;
  font-size: 30px;
  list-style: none;
  padding: 6px;
}

.item-habilidades-blandas::before {
  content: "游";
}

.item-tecnico img {
  width: 150px;
  height: auto;
}

.item-tecnico p {
  margin-top: 5px;
}

/*-------EDUCACION--------------------------------------EDUCACION------------------------------------------------EDUCACION-------*/
.educacion {
  width: 53%;
  height: 600px;
  /* Establecido un alto fijo de 600px */
  margin: 30px;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  view-timeline-name: --animacion;
  view-timeline-axis: block;
  animation-timeline: --animacion;
  animation-name: show;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}

.titulo-educacion {
  font-size: 50px;
  color: var(--primary);
  text-align: center;
  margin-top: 10px;
}

.detalle-educacion,
.certificados {
  width: 100%;
  padding: 1%;
  font-size: 24px;
  text-align: center;
  border: var(--primary);
  border-radius: 10px;
  margin-bottom: 1%;
}

.contenedor-de-educacion {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-sizing: border-box;
}

/*-------FORMULARIO--------------------------------------FORMULARIO------------------------------------------------FORMULARIO-------*/
.formulario {
  width: 100%;
  margin: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: none;
  animation-range: entry 25% cover 50%;
  /*la imagen comiensa con 25% y termina 50%*/
  animation-fill-mode: both;
  /*Funciona en ambos sentido (de arriba a bajo y de abajo para arriba)*/
}

.titulo-form {
  font-size: 30px;
  color: var(--primary);
  text-align: center;
}

form {
  width: 50%;
  /* Reducir el ancho del formulario para mejorar la legibilidad */
  padding: 20px;
  /* Aumentar el espacio interno para mejorar la presentaci칩n */
  border-radius: 5px;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  view-timeline-name: --animacion;
  /*Nombre de la animacion*/
  view-timeline-axis: block;
  /*Elegimos el eje*/
  animation-timeline: --animacion;
  animation-name: show;
  animation-range: entry 25% cover 50%;
  /*la imagen comiensa con 25% y termina 50%*/
  animation-fill-mode: both;
  /*Funciona en ambos sentido (de arriba a bajo y de abajo para arriba)*/
}

#planilla input[type="text"],
#planilla input[type="tel"],
#planilla input[type="email"],
#planilla textarea {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  /* Modificado para ocupar el 100% del ancho del contenedor */
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 10px;
}

#planilla input[type="text"] {
  height: 50px;
}

#planilla input::placeholder,
#planilla textarea::placeholder {
  font-size: 18px;
  margin-left: 10%;
  color: #c5c5c5;
}

.enviar {
  width: 250%;
  padding: 15px 0;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: var(--seconds);
  border: none;
  border-radius: 5px;
  transition: background 0.3s, transform 0.3s;
  cursor: pointer;
}

.enviar:hover {
  background: var(--third);
  transform: scale(1.05);
}

.informacion {
  width: 100%;
  background: var(--primary);
  text-align: center;
}

/*-------FOOTER--------------------------------------FOOTER------------------------------------------------FOOTER-------*/
footer {
  background: linear-gradient(to bottom, var(--seconds), var(--primary));
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.01);
}

.redes-sociales {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.redes-sociales li {
  list-style: none;
  width: 7%;
  margin: auto 25px;
  border-radius: 5px;
}

.copy-autor,
.copy-imagenes {
  text-decoration: none;
  color: #f2f2f2;
  font-size: 25px;
  text-align: center;
}

.copy-autor {
  padding-bottom: 2, 5%;
}

.figma {
  text-decoration: none;
  color: #f2f2f2;
}

/*--------------------ANIMACION----------------------------------------------------*/
@keyframes show {
  from {
    /*  Va a ser un 25% de su tama침o original y transparente al iniciar la animacion*/
    opacity: 0;
    scale: 25%;
  }

  to {
    /* Va a finalizar con el color y el tama침o normal*/
    opacity: 1;
    scale: 100%;
  }
}