@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: "Open Sans", sans-serif, Helvetica;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Cabecera*/
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: 0.7s;
    padding: 30px 20px;
    z-index: 10;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    /* Gradiente de blanco a transparente */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.01);
    /* Agrega sombra al header */
}

.menu {
    list-style: none;
    display: flex;
}

.menu li a {
    font-family: "Open Sans";
    text-decoration: none;
    color: rgb(7, 7, 7);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    letter-spacing: 2px;
    font-weight: 600;
    transition: all 0.3s;
    font-size: 25px;
    padding: 15px 20px;
    text-transform: uppercase;
}

.nav li a:hover {
    background: #70E4F1;
    color: #EAABD7;
    font-size: 22px;
}

.fondo {
    position: relative;
    width: 100%;
    height: 600px;
    background: url(/imagenes/fondo2.jpg);
    background-size: cover;
    background-position: center;
    overflow: visible;

}

.logo {
    width: 391px;
    /* Ancho del elemento de logo */
    height: 166px;
    /* Altura del elemento de logo */
    text-align: center;
    /* Centra el texto dentro del elemento */
    background: #F9E8F6;
    /* Color de fondo del elemento de logo */
    border: 1px solid #1E2B38;
    /* Borde del elemento de logo */
    border-radius: 10px;
    /* Radio de borde para suavizar las esquinas */
    display: flex;
    /* Activa el modelo de caja flexible */
    flex-direction: column;
    /* Orienta los elementos de forma vertical */
    justify-content: center;
    /* Centra verticalmente los elementos */
    align-items: center;
    /* Centra horizontalmente los elementos */
    position: absolute;
    /* Posiciona el elemento de forma absoluta en relación con su contenedor */
    top: 50%;
    /* Ubica el elemento en el 50% desde la parte superior del contenedor padre */
    left: 50%;
    /* Ubica el elemento en el 50% desde el lado izquierdo del contenedor padre */
    transform: translate(-50%, -50%);
    /* Ajusta la posición del elemento a la mitad de su tamaño para centrarlo */
    margin: auto;
    /* Establece el margen automáticamente para centrar horizontalmente */
}

.nombre {
    font-size: 36px;
    font-weight: bold;
}

.profesion {
    font-size: 18px;
}

.retrato {
    position: absolute;
    bottom: -100px;
    /* Ajusta este valor según sea necesario */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.retrato img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 2px solid #04254a;
    background-color: #fff;
}


.presentacion {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px auto;
    /* Para centrar horizontalmente */
}

.detalle {
    text-align: center;
    /* Centra el texto dentro del contenedor. */
}

.parrafo {
    margin-top: 25px;
    /* Establece el margen superior en 25px */
    margin-bottom: 12.5px;
    /* Establece la mitad del margen superior en la parte inferior (12.5px) */
    padding: 25px;
    font-size: 20px;
    line-height: 1.6;
}

/*PROYECTOS*/

.proyectos {
    width: 100%;
    height: 90vh;
    margin: 20px;
    text-align: center;
    background: rgba(170, 194, 204, 0.281);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    margin-bottom: 5px;
    font-size: 30px;
    color: #323068;
}

.proyectos-enumerados {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.proyecto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.proyecto img {
    width: 50%;
    margin: 10px;
    border: 2px solid #F2F2F2;
    border-radius: 5px;
    opacity: 0.7;
    transition: border 0.3s, opacity 0.3s;
}

.proyecto img:hover {
    border: 2px double #5A5A5A;

    opacity: 1;
}


/* HABILIDADES*/

.habilidades {
    width: 53%;
    text-align: center;
    justify-content: center;
}

.titulo-tecnico {
    margin-bottom: 5px;
    color: #323068;
}

.especializacion {
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 10px;

}

.subtitulo-tecnico {
    text-align: left;
    margin-left: 10px;

}

.certificados-tecnicos .lista-habilidades-tecnicas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.certificados-tecnicos .lista-habilidades-tecnicas .item-tecnico img {
    margin: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.certificados-tecnicos .lista-habilidades-tecnicas .item-tecnico img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
    /* Ajusta el margen derecho para separar las imágenes */
}

.item-tecnico {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}



.certificados-tecnicos .item-tecnico {
    font-size: 20px;
    margin: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    max-width: 150px;
    /* Ajustar el ancho máximo de los elementos de la lista */
    text-align: center;
    /* Alinear el texto al centro dentro del elemento */
}

.habilidades-blandas {
    width: 100%;
    background: rgba(170, 194, 204, 0.281);
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 30px;
}

.lista-habilidades-blandas {
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border: 2px solid black;
    list-style: none;

}
/* EDUCACION */
.educacion{
    background: rgba(170, 194, 204, 0.281); 
    margin-top: 3%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titulo-educacion{
    width: 100%;
    font-size: 50px;
    color: #323068;
    text-align: center;
}
.contenedor-de-educacion{ 
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.detalle-educacion{
    width: 50%;
    padding: 1%;
    margin:  5% 10% 5% 20%;
}
.certificados img{
    max-width: 60%;
    margin: 1%;   
}

/* FORMULARIO */
.formulario {
    width: 100%;
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: none;
}

.titulo-form {
    font-size: 30px;
    color: #3895EA;
    text-align: center;
}

form {
    width: 50%;
    /* Reducir el ancho del formulario para mejorar la legibilidad */
    padding: 20px;
    /* Aumentar el espacio interno para mejorar la presentación */
    border-radius: 5px;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#planilla input[type="text"],
#planilla input[type="tel"],
#planilla input[type="email"],
#planilla textarea {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    /* Modificado para ocupar el 100% del ancho del contenedor */
    padding: 10px;
    border: 1px solid #CECECE;
    border-radius: 5px;
    margin-left: 10px;

}

#planilla input[type="text"] {
    height: 50px;
}

#planilla input::placeholder,
#planilla textarea::placeholder {
    font-size: 18px;
    margin-left: 10%;
    color: #CECECE;
}

.enviar {
    width: 250%;
    padding: 15px 0;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: #3895EA;
    border: none;
    border-radius: 5px;
    transition: background 0.3s, transform 0.3s;
    cursor: pointer;
}

.enviar:hover {
    background: #dcadb7;
    transform: scale(1.05);
}

.informacion {
    width: 100%;
    background: #1E2B38;
    text-align: center;
}


.redes {
    height: 200px;
}

.icono-redes {
    width: 150px;
    margin: 65px 45px;
    padding: 0.5%;
    border-radius: 5px;
}

.copy-autor,
.copy-imagenes {
    text-decoration: none;
    color: #f2f2f2;
    font-size: 20px;
}

.figma {
    text-decoration: none;
    color: #f2f2f2;
}